In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프에 대한 기본설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.pcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 20, 10
plt.rcParams['font.size'] = 16
plt.rcParams['axes.unicode_minus'] = False

In [2]:
# 데이터가 있는 사이트의 주소
site = 'https://www.basketball-reference.com/leagues/NBA_2018_games.html'

### 데이터를 읽어온다.
- 웹 페이지에 데이터가 table 태그로 구성되어 있는 경우

In [3]:
# 결과는 table 태그 하나당 하나의 데이터 프레임이 되고
# table 태그의 수 만큼 데이터 프레임이 들어있는 리스트가 반환된다.
# tr 태그 : 행 하나를 의미한다.
# th 태그 : 컬럼이름. th가 몇 줄 씩 나온다고 해도 가장 위에 있는 것만 반영된다.
# td 태그 : 데이터.
tables = pd.read_html(site)
tables

[                  Date Start (ET)        Visitor/Neutral  PTS  \
 0    Tue, Oct 17, 2017      8:01p         Boston Celtics   99
 1    Tue, Oct 17, 2017     10:30p        Houston Rockets  122
 2    Wed, Oct 18, 2017      7:00p      Charlotte Hornets   90
 3    Wed, Oct 18, 2017      7:00p          Brooklyn Nets  131
 4    Wed, Oct 18, 2017      7:00p             Miami Heat  109
 ..                 ...        ...                    ...  ...
 99   Mon, Oct 30, 2017     10:30p  Golden State Warriors  141
 100  Tue, Oct 31, 2017      7:00p       Sacramento Kings   83
 101  Tue, Oct 31, 2017      7:30p           Phoenix Suns  122
 102  Tue, Oct 31, 2017      8:00p  Oklahoma City Thunder  110
 103  Tue, Oct 31, 2017     10:30p        Detroit Pistons   93

               Home/Neutral  PTS.1 Unnamed: 6 Unnamed: 7  Attend.  Notes
 0      Cleveland Cavaliers    102  Box Score        NaN    20562    NaN
 1    Golden State Warriors    121  Box Score        NaN    19596    NaN
 2          Detroit Pistons    102  Box Score        NaN    20491    NaN
 3           Indiana Pacers    140  Box Score        NaN    15008    NaN
 4            Orlando Magic    116  Box Score        NaN    18846    NaN
 ..                     ...    ...        ...        ...      ...    ...
 99    Los Angeles Clippers    113  Box Score        NaN    19068    NaN
 100         Indiana Pacers    101  Box Score        NaN    12245    NaN
 101          Brooklyn Nets    114  Box Score        NaN    12936    NaN
 102        Milwaukee Bucks     91  Box Score        NaN    16713    NaN
 103     Los Angeles Lakers    113  Box Score        NaN    17569    NaN

 [104 rows x 10 columns]]

In [4]:
tables[0]

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN
...,...,...,...,...,...,...,...,...,...,...
99,"Mon, Oct 30, 2017",10:30p,Golden State Warriors,141,Los Angeles Clippers,113,Box Score,NaN,19068,NaN
100,"Tue, Oct 31, 2017",7:00p,Sacramento Kings,83,Indiana Pacers,101,Box Score,NaN,12245,NaN
101,"Tue, Oct 31, 2017",7:30p,Phoenix Suns,122,Brooklyn Nets,114,Box Score,NaN,12936,NaN
102,"Tue, Oct 31, 2017",8:00p,Oklahoma City Thunder,110,Milwaukee Bucks,91,Box Score,NaN,16713,NaN
103,"Tue, Oct 31, 2017",10:30p,Detroit Pistons,93,Los Angeles Lakers,113,Box Score,NaN,17569,NaN

In [5]:
# 저장한다.
# 만약 한글이 포함되어 있다면 encoding='utf-8-sig'를 추가한다.
tables[0].to_csv('data/nba_2018.csv', index=False)